@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Staatliches&display=swap');

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: rgb(255, 255, 255);
  padding: 10px 30px;
  border-radius: 0px;
  font-family: Arial, sans-serif;
  width: auto;
}

.about-container h3 {
  font-size: 30px;
  font-family: Staatliches, sans-serif;
  letter-spacing: 0.07em;
}

.expectation {
  max-width: 30%;
  padding: 0;
  margin-left: auto;
}

.description {
  font-family: 'Source Serif 4', serif;
  font-size: 20px;
  line-height: 1.5;
}

.expectation h3 {
  margin-bottom: 10px;
  color: #000000;
  font-family: Staatliches, sans-serif;
  font-size: 30px;

}

.expectation p {
  font-family: 'Source Serif 4', serif;
  font-size: 20px;
  margin-right: 3.5rem;
}
