.contact-container {
  padding: 20px;
  text-align: center;
}

.contact-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-item {
  text-align: left;
  width: 45%; /* Set a width for left-aligned items */
  margin-bottom: 20px;
}

.contact-item h3 {
  margin-bottom: 5px;
}

.contact-item a, .contact-item p {
  font-size: 18px;
  color: #fff;
}

/* Center the map */
iframe {
  width: 100%;
  height: 400px;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin: 0 auto; /* Center the iframe */
}
