<!-- app.component.html -->

<header [ngClass]="{ 'scrolled': isScrolled }">
  <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </nav>
</header>


<main>
  <section id="home">
    <app-home></app-home>
  </section>

  <section id="projects">
    <app-projects></app-projects>
  </section>

  <section id="contact">
    <app-contact></app-contact>
  </section>
</main>

<footer>
  <p>&copy; 2024 Your Name. All rights reserved.</p>
</footer>

