<!-- Intro Animation -->
<!-- <div class="intro-animation" *ngIf="isVisible">
  <h1>PORTFOLIO WEBSITE</h1>
</div> -->

<header [ngClass]="{ 'scrolled': isScrolled }" class="header">
  <div class="header-logo">
    <img src="/assets/logo-port.png" alt="Logo" class="logo">
  </div>

  <div class="header-status">
    <p>Status: Internship Developer</p>
  </div>

  <nav class="header-nav">
    <ul>
      <li><a routerLink="/about-me">About Me</a></li>
      <li><a routerLink="/projects">Projects</a></li>
    </ul>
  </nav>
</header>

<section>
  <section id="home">
    <app-home></app-home>
  </section>

  <section id="about-me">
    <app-about-me></app-about-me>
  </section>

  <section id="projects">
    <app-projects></app-projects>
  </section>

  <section id="contact">
    <app-contact></app-contact>
  </section>
</section>

<footer>
  <p>&copy; 2024 Your Name. All rights reserved.</p>
</footer>
