.intro-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  z-index: 10000;
  animation: slideOut 3s ease-in-out forwards;
}

.intro-animation h1 {
  font-size: 3rem;
  animation: zoomIn 1.5s ease-in-out forwards;
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

header, main, footer {
  background-color: #232227;
  color: #fff;
  position: relative;
  z-index: 1;
}
