@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Staatliches&display=swap');

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin: 10px 0;
  }
}

.intro-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  z-index: 10000;
  animation: slideOut 3s ease-in-out forwards;
}

.intro-animation h1 {
  font-family: Staatliches, sans-serif;
  letter-spacing: 0.07em;
  font-size: 4rem;
  animation: zoomIn 1.5s ease-in-out forwards;
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: Staatliches, sans-serif;
  letter-spacing: 0.07em;
  gap: 50px;
}

.header-logo .logo {
  width: 250px;
}

.header-status p {
  margin: 0;
  font-size: 20px;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

header, main, footer {
  background-color: #232227;
  color: #fff;
  position: relative;
  z-index: 1;
}


