body, html {
  font-family: Arial, sans-serif;
  color: #232227;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
  background-color: #000;
}

.home-container, .projects-container, .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

footer {
  text-align: center;
  padding: 10px;
}

